* {
    font-family: "Poppins", sans-serif;
}

/* Header estilos*/
header {
    height: 100vh;
    background-image: url(./assets/background-header.jpg);
    background-size: cover;
    background-position: 30%;

    position: relative;
}

.background-black { 
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.header-h2 {
    color: #fff;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-h2 span {
    font-weight: 200;
}

.avatar-img {
    width: 90%;
    max-width: 15rem;

    display: block;
    margin: 0 auto;
}