* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #0d0d0d;
}

.sections-containers {
    width: 80%;
    max-width: 20rem;
    margin: 0 auto;
}

.sections-h2 {
    text-decoration: underline;
    text-decoration-color: rgb(161, 60, 255);
    text-decoration-thickness: .05rem;
    text-underline-offset: 1rem;

    margin: 0;
    color: #fff;
    padding: 1.5rem 0;
    font-weight: 500;
}

/* Header estilos*/
header {
    height: 98vh;
    background-image: url(./assets/background-header.jpg);
    background-size: cover;
    position: relative;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.background-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
}

.header-h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0;
    text-align: center;
}

.header-h2 span {
    font-weight: 200;
    text-transform: capitalize;
    font-size: 1.3rem;
}

.avatar-img {
    width: 90%;
    max-width: 16rem;

    display: block;
    margin: 0 auto;
}

.descargar-cv-button {
    color: #fff;
    text-decoration: none;
    border: 1px solid rgb(161, 60, 255);
    padding: .5rem 1.5rem;

    transition: box-shadow .3s;
}

.descargar-cv-button:hover {
    box-shadow: 0px 0px 20px -3px rgb(161, 60, 255);
}

.header-container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.redes-buttons {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.redes-icons {
    transition: transform .3s;
}

.redes-icons:hover {
    transform: scale(1.1);
}

.arrow-icon {
    width: 100%;
    margin-top: 1rem;
}

/*Sobre Mi*/

.sobre-mi-parrafo {
    color: #fff;
    margin: 0;
    padding-bottom: 2rem;
    line-height: 1.6rem;

    display: flex;
    flex-direction: column;
}

.sobre-mi-parrafo span {
    margin: 1.5rem 0;
}

/* Experiencia */
.experiencia-h2 {
    text-decoration-color: #fff;
    text-decoration-thickness: .05rem;
    padding-top: 0;
    text-align: center;
}

.article-experiencia {
    background-color: rgba(22, 20, 20, 0.706);
    border-radius: .5rem;
    padding: .5rem 2rem;
    margin: 1rem 0;

}

.experiencia-cargo,
.experiencia-anio,
.experiencia-descripcion {
    color: #fff;
}

.experiencia-descripcion,
.experiencia-anio {
    font-weight: 300;
}

.experiencia-anio {
    margin-top: 0.3rem;
    font-size: .8rem;
}

.experiencia-cargo {
    margin-bottom: 0;
}

.experiencia-descripcion {
    font-size: .9rem;
    line-height: 1.2rem;
}

/*Proyectos*/
.proyecto-container {
    background-color: rgba(31, 28, 28, 0.71);
    margin: 2rem 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 0px 5px 10px 0px rgba(5, 5, 5, 0.9);
    transition: transform .3s;
}

.proyecto-container:hover{
    transform:scale(1.05)
}

.proyecto-imagen {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.proyecto-url {
    text-decoration: none;
}

.proyecto-titulo {
    color: #fff;
    margin: 0;
    font-weight: 400;

    padding: 1rem .5rem;
    font-weight: 300;
    text-align: center;
}
